@import "tailwindcss";

@theme {
  --color-primary: #2b7fff;      
  --color-primary-hover: #1447e6;

  --color-secondary: #00c950;
  --color-secondary-hover: #008236;

  --color-error: #fb2c36;
  --color-error-focus: oklch(88.5% 0.062 18.334);

  --color-gray-1: #99a1af;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #181a1d;

  color-scheme: light dark;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
